/*This changes the color of the background of the webpage.*/
body
{
	background-color: lightblue;
}
/*This will center the image.*/
.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
h1
{
	text-align: center;
}
p
{
	text-align: center;
	width: 95%;
}
h3
{
	text-align: center;
}
/*The class and then having the keyword for html changes all of the anchors in that class.*/
.nava a
{
	text-align: center;
	box-sizing: border-box;
	width: 24%;
	display: inline-block;
	border-style: outset;
	padding: 1px;
	margin: 0 auto;
	

}
.outside_links
{
	text-align: center;
}
.bio
{
	
}
/*Setting the color of the links that were visited.*/
a {color:#000000;}         /* Unvisited link  */
a:visited {color:##C0C0C0;} /* Visited link    */
a:hover {color:#000000;}   /* Mouse over link */
a:active {color:#000000;}  /* Selected link   */
